//body
$body-background: #fff;
$wrapper-size: 1024px;

//header
$header-height: 89px;
$header-logo-color: #000;
$header-link-color: #6c6c6c;
$header-font-logo: 'Open Sans Condensed', sans-serif;
$header-font-menu: 'Josefin Sans', sans-serif;
